body{
    
    background:linear-gradient(45deg, red, white,black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-width:100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anjo{
    position: relative;
    width:600px;
    right: 270px;
    bottom:100px;
}
.escudo{
    position:relative;
    margin-right: 50px;
    left: 130px;
    top: 117px;
    width: 90px;
}
.coracao{
    position:relative;
    width: 200px;
    left:240px;
    bottom: 42vh;
}
.leftlog{
    position:relative;
    margin-right: 50px;
    width: 400px;
    height: 400px;
    border: 3px solid black;
    border-radius: 20px;
}
.log{
    position:relative;
    font-size: 30px;
    left: 40px;
    top: 50px;
    color: black;
}
.leftlogg{
    position:absolute;
    margin: auto;
    width: 100%;
    top: 117px;
    right:0px;
    border-radius: 17px;
}
.cardlogin{
    position:relative;
    display: flex;
    flex-direction: column;


}
input{
    background-color: transparent;
    width: 150px;
    padding: 10px;
    margin-top: 5px;
    border:none;
    border-radius: 15px;
    background:linear-gradient(45deg, red,black);
   
    
}
input::placeholder {
    color:white;
  }
button{
    margin: 50px;
    margin-top: 10px;
    width: 75px;
    padding: 10px;
    border-color: black;
    border-radius: 15px;
    text-transform:uppercase;
    background:linear-gradient(45deg, red, white);
  
}


